[Unit]
Description=H4 Backend

[Service]
Type=simple
#User=
#Group=
ExecStart=/home/host/h4-projekt-gruppe-0-sm/backend/build/server
Restart=on-failure
RestartSec=10
WorkingDirectory=/home/host/h4-projekt-gruppe-0-sm

[Install]
WantedBy=default.target
